<!-- Esta card se va a repetir segun la cantidad de solicitudes en Mis solicitudees, dentro de la pantalla mis solicitudes -->
<!-- Confirmados o pendientes -->


<div class="mr-auto ml-auto card bg-success mt-3 p-3" style="max-width: 90%;">
  <a href="#/" class="btn text-light text-justify">
    <blockquote class=" blockquote mb-0">
      <h5 class="card-title">Cantidad de árboles: ...</h5>
      <p class="card-title">Organizacion: ...</p>
      <p class="card-title">Fecha y orario de retiro: ...</p>
      <p class="card-title">Cantidad:...</p>
    </blockquote>
  </a>
</div>
